.dialogs {
         display: grid;
         grid-template-columns: 2fr 10fr;
}

.dialog  a {
    text-decoration: none;
    color: rgb(5, 5, 5);
}

/* a.active.dialog {
    color:  rgb(180, 22, 22);
}  */

.dialogsItems {
    padding: 10px;
}

.dialogsItems .active  {
    color: gold;
}

.dialogsItems .dialog {

}

.messages {
    padding: 10px;
}

.messages .message {

}