.dialogs {
         display: grid;
         grid-template-columns: 2fr 10fr;
}

.dialog  a {
    text-decoration: none;
    color: rgb(5, 5, 5);
}

.active.dialog img{
    width: 30px;
    border-radius: 30px;
    margin-right: 10px;
}  

.dialogsItems {
    padding: 10px;
}
.dialogsItems .active  {
    color: gold;
}


.messages {
    padding: 10px;
}

